.cartContainer {
    background-color: #ffb300;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0  auto ;
    margin-top: 5rem;
}

.cartContainer h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    background-color: #fff;
}

.cartItem img {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.cartItemInfo {
    flex-grow: 1;
}

.cartItemActions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cartItemActions button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 14px;
}

.cartItemActions button:hover {
    background-color: #ffb300;
}

.cartActions {
    text-align: center;
    margin-top: 20px;
}

.cartActions button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
}

.cartActions button:last-child {
    margin-right: 0;
}

.cartActions button:hover {
    background-color: #0056b3;
}
