.nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.nav a  {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .25rem;
    
}

.nav li:hover {
    background-color: #F1ED0E;
    color: black;
    border-radius: 5px;
}

.brand {
    transform: translate(0, 25%);
}

.singin {
    color: #F1ED0E;
}
